@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.features-about {
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: "Roboto Slab", serif;
    margin: 0 auto;
    margin-top: 150px;
}

.features-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.features-content-heading {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #EF5F34;
}

.features-heading {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 38px;
    color: #212158;
    text-align: center;
}

.features-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: rgb(106, 105, 105);
    line-height: 1.8;
    max-width: 530px;
    letter-spacing: 1.0;
    text-align: center;
    margin-bottom: 50px;
}

.home-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.education-container-card,
.food-container-card,
.medicine-container-card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    max-width: 400px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.education-card-img,
.food-card-img,
.medicine-card-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.link-title a {
    text-decoration: none;
    text-align: left;
    color: #212158;
    display: block;
    max-width: 380px;
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
    transition: 0.2s ease-in;
}

.link-title a:hover {
    color: #EF5F34;
}

.education-raised-container,
.food-raised-container,
.medicine-raised-container {
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    position: relative;
}

.education-percents p,
.food-percents p,
.medicine-percents p {
    font-size: 14px;
    color: #202020;
    font-weight: 500;
}
.education-percents p{
    position: absolute;
    left: 60%;
    top: -15px;
}
.food-percents p {
    position: absolute;
    left: 67%;
    top: -15px;
}
.medicine-percents {
    position: absolute;
    left: 76%;
    top: -15px;
}

.features-progres-container {
    width: 100%;
    height: 8px;
    background-color: #ffe3e8;
    border-radius: 5px;
    padding: 0px;
    margin: 0;
}

.features-progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #ffe3e8;
}

.features-progress-value {
    height: 100%;
    border: 4px solid #EF5F34;
    border-radius: 5px;
}


.features-raised-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #202020;
    margin: 15px 0;
}

.total-raised-right span {
    color: rgb(106, 105, 105);
    font-weight: 400;
    padding: 10px;
}

.total-raised-left span {
    color: rgb(106, 105, 105);
    font-weight: 400;
    padding: 10px;
}

.about-Laura {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    position: relative;
    padding-top: 20px;
}
.laura-link a {
    margin-left: -60px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    transition: 0.1s ease-in;
}

.laura-link a:hover {
    color: #EF5F34;
}
.about-Laura::before {
    content: '';
    position: absolute;
    background-color: rgb(228, 228, 228);
    top: -25px;
    left: 0;
    width: 100%;
    height: 0.2px;
    margin-bottom: 10px 0;
    z-index: 1;
}

.about-Laura img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.donate-btn {
    border-radius: 30px;
    padding: 17px 30px;
    border: 1px solid #5dc4b8;
    background-color: #fff;
    font-size: 14px;
    color: rgb(106, 105, 105);
    font-weight: 200;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.donate-btn:hover {
    background-color: #5dc4b8;
    color: #fff;
}

.laura-link a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #202020;

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .features-about {
        width: 100%;
        max-width: 100%;
        height: 100%;
        font-family: "Roboto Slab", serif;
        margin: 0 auto;
        margin-top: 150px;
    }
    
    .features-about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .features-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    
    .features-content-heading {
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #EF5F34;
    }
    
    .features-heading {
        font-family: 'Roboto Slab', serif;
        font-weight: 500;
        font-size: 38px;
        color: #212158;
        text-align: center;
    }
    
    .features-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: rgb(106, 105, 105);
        line-height: 1.8;
        max-width: 530px;
        letter-spacing: 1.0;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .home-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    
    .education-container-card,
    .food-container-card,
    .medicine-container-card {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        width: 100%;
        max-width: 400px;
        height: 600px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
    }
    
    .education-card-img,
    .food-card-img,
    .medicine-card-img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .link-title a {
        text-decoration: none;
        text-align: left;
        color: #212158;
        display: block;
        max-width: 380px;
        font-size: 26px;
        font-weight: 500;
        padding: 10px;
        transition: 0.2s ease-in;
    }
    
    .link-title a:hover {
        color: #EF5F34;
    }
    
    .education-raised-container,
    .food-raised-container,
    .medicine-raised-container {
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        padding: 10px;
        position: relative;
    }
    
    .education-percents p,
    .food-percents p,
    .medicine-percents p {
        font-size: 14px;
        color: #202020;
        font-weight: 500;
    }
    .education-percents p{
        position: absolute;
        left: 60%;
        top: -15px;
    }
    .food-percents p {
        position: absolute;
        left: 67%;
        top: -15px;
    }
    .medicine-percents {
        position: absolute;
        left: 76%;
        top: -15px;
    }
    
    .features-progres-container{
        width: 100%;
        height: 8px;
        background-color: #ffe3e8;
        border-radius: 5px;
        padding: 0px;
        margin: 0;
    }
    
    .features-progress-bar {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: #ffe3e8;
    }
    
    .features-progress-value {
        height: 100%;
        border: 4px solid #EF5F34;
        border-radius: 5px;
    }
    
    
    .features-raised-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        font-size: 14px;
        font-weight: 500;
        color: #202020;
        margin: 15px 0;
    }
    
    .total-raised-right span {
        color: rgb(106, 105, 105);
        font-weight: 400;
        padding: 10px;
    }
    
    .total-raised-left span {
        color: rgb(106, 105, 105);
        font-weight: 400;
        padding: 10px;
    }
    
    .about-Laura {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
        position: relative;
        padding-top: 20px;
    }
    .laura-link a {
        margin-left: -60px;
        font-size: 13px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        transition: 0.1s ease-in;
    }
    
    .laura-link a:hover {
        color: #EF5F34;
    }
    .about-Laura::before {
        content: '';
        position: absolute;
        background-color: rgb(228, 228, 228);
        top: -25px;
        left: 0;
        width: 100%;
        height: 0.2px;
        margin-bottom: 10px 0;
        z-index: 1;
    }
    
    .about-Laura img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    
    .donate-btn {
        border-radius: 30px;
        padding: 17px 30px;
        border: 1px solid #5dc4b8;
        background-color: #fff;
        font-size: 14px;
        color: rgb(106, 105, 105);
        font-weight: 200;
        cursor: pointer;
        transition: 0.1s ease-in;
    }
    
    .donate-btn:hover {
        background-color: #5dc4b8;
        color: #fff;
    }
    
    .laura-link a {
        text-decoration: none;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #202020;
    
    }

} 

@media screen and (min-width: 768px) and (max-width: 1024px){
    .features-about{
        width: 100%;
        width: 100%;
        max-width: 100%;
        height: 100%;
        font-family: "Roboto Slab", serif;
        margin: 0 auto;
        margin-top: 150px;
        padding: 0 80px;
    }
    
    .features-about-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .features-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    
    .features-content-heading {
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #EF5F34;
    }
    
    .features-heading {
        font-family: 'Roboto Slab', serif;
        font-weight: 500;
        font-size: 38px;
        color: #212158;
        text-align: center;
    }
    
    .features-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: rgb(106, 105, 105);
        line-height: 1.8;
        max-width: 530px;
        letter-spacing: 1.0;
        text-align: center;
    
    }
    
    .home-cards {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto; 
        gap: 10px;
    }
    .education-container-card,
    .food-container-card,
    .medicine-container-card {
        width: 400px;
        height: 600px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px; 
        padding: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .education-card-img,
    .food-card-img,
    .medicine-card-img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .link-title a{
        text-decoration: none;
        text-align: left;
        color: #212158;
        display: block;
        max-width: 380px;
        font-size: 26px;
        font-weight: 500;
        padding: 10px;
        transition: 0.2s ease-in;
    }
    .link-title a:hover{
        color: #EF5F34;
    } 
    
    .education-raised-container,
    .food-raised-container,
    .medicine-raised-container {
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        padding: 10px;
    }
    .education-percents p,
    .food-percents p,
    .medicine-percents p {
        font-size: 14px;
        color: #202020;
        font-weight: 500;
        padding: 0;
    }

    .features-progres-container{
        width: 100%;
        height: 8px;
        background-color: #ffe3e8;
        border-radius: 5px;
        padding: 0;
        margin: 0;
    }
    
    .features-progress-bar {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color:  #ffe3e8;
    }
    
    .features-progress-value {
        height: 100%;
        border: 4px solid  #EF5F34;
        border-radius: 5px;
    }
    
    .features-raised-text {
        font-size: 14px;
        font-weight: 500;
        color: #202020;
        margin: 20px 0;
    }
    
    .total-raised-right span{
        color: rgb(106, 105, 105);
        font-weight: 400;
        padding: 10px;
    }
    .total-raised-left span{
        color: rgb(106, 105, 105);
        font-weight: 400;
        padding: 10px;
    }
    .about-Laura {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 70px;
        align-items: center;
        position: relative;
        padding-top: 20px;
    }
    
    .about-Laura::before {
        content: '';
        position: absolute;
        background-color: rgb(228, 228, 228);
        top: 0;
        left: 0;
        width: 100%;
        height: 0.2px;
        margin-bottom: 20px 0;
        z-index: 1;
    }

    .about-Laura img {
       border-radius: 50%;
       width: 45px;
       height: 45px;
    }
    .donate-btn {
        border-radius: 30px;
        padding: 17px 30px;
        border: 1px solid  #5dc4b8;
        background-color: #fff;
        font-size: 14px;
        color: rgb(106, 105, 105);
        font-weight: 200;
        cursor: pointer;
        transition: 0.1s ease-in;
    }
    .donate-btn:hover {
        background-color:  #5dc4b8;
        color: #fff;
    }
    .laura-link a{
        text-decoration: none;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #202020;
    
    }
} 

@media screen and (max-width: 767px) {
    .features-about {
        width: 100%;
        max-width: 100%;
        height: 100%;
        font-family: "Roboto Slab", serif;
        margin: 0 auto;
        padding: 0 80px;
    }
    
    .features-about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .features-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    
    .features-content-heading {
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #EF5F34;
    }
    
    .features-heading {
        font-family: 'Roboto Slab', serif;
        font-weight: 500;
        font-size: 38px;
        color: #212158;
        text-align: center;
    }
    
    .features-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: rgb(106, 105, 105);
        line-height: 1.8;
        max-width: 530px;
        letter-spacing: 1.0;
        text-align: center;
    }
    
    .home-cards {
        margin-top: -20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 0px 10px;
    }
    
    .education-container-card,
    .food-container-card,
    .medicine-container-card {
        width: 100%;
        max-width: 500px;
        max-height: 700px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 15px;
        background-color: #fff;
    }
    
    .education-card-img,
    .food-card-img,
    .medicine-card-img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .link-title a {
        text-decoration: none;
        text-align: left;
        color: #212158;
        display: block;
        max-width: 380px;
        font-size: 26px;
        font-weight: 500;
        padding: 10px;
        margin-top: 0px;
        transition: 0.2s ease-in;
    }
    
    .link-title a:hover {
        color: #EF5F34;
    }
    
    .education-raised-container,
    .food-raised-container,
    .medicine-raised-container {
        align-items: center;
        justify-content: center;
        gap: 0px;
        width: 100%;
        height: auto;
        padding: 10px 0;
    }
    
    .education-percents p,
    .food-percents p,
    .medicine-percents p {
        font-size: 14px;
        color: #202020;
        font-weight: 500;
        padding: 0;
        margin-top: -5px;
    }
    
    .features-progres-container {
        width: 100%;
        height: 8px;
        background-color: #ffe3e8;
        border-radius: 5px;
        padding: 0px;
        margin: 0;
    }
    
    .features-progress-bar {
        width: 100%;
        border-radius: 5px;
        background-color: #ffe3e8;
    }
    
    .features-progress-value {
        height: 100%;
        border: 4px solid #EF5F34;
        border-radius: 5px;
    }
    
    .features-raised-text {
        font-size: 14px;
        font-weight: 500;
        color: #202020;
        margin: 0 0 -20px;
    }
    
    .total-raised-right span {
        color: rgb(106, 105, 105);
        font-weight: 400;
        padding: 10px;
    }
    
    .total-raised-left span {
        color: rgb(106, 105, 105);
        font-weight: 400;
        padding: 10px;
    }
    
    .about-Laura {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        position: relative;
        padding-top: 20px;
    }
    .about-Laura::before {
        content: '';
        position: absolute;
        background-color: rgb(228, 228, 228);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0.2px;
        margin-bottom: 0;
        z-index: 1;
    }
    
    .about-Laura img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    
    .donate-btn {
        border-radius: 30px;
        padding: 10px 20px;
        border: 1px solid #5dc4b8;
        background-color: #fff;
        font-size: 14px;
        color: rgb(106, 105, 105);
        font-weight: 200;
        cursor: pointer;
        transition: 0.1s ease-in;
    }
    
    .donate-btn:hover {
        background-color: #5dc4b8;
        color: #fff;
    }
    
    .laura-link a {
        padding-left: 30px;
    }
    } 