*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.supporters-home {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 767px){
.supporters-home {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
}
